# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Reported-Document-Re-Engineered\HR\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
